<!doctype html>
 
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="C:\Documents and Settings\TJ\rails_projects\my_app\app\assets\stylesheets\jquery-ui.css" />
    <link rel="stylesheet" href="C:\Documents and Settings\TJ\rails_projects\my_app\app\assets\stylesheets\test.css" />
    <script src="http://code.jquery.com/jquery-1.8.2.js"></script>
    <script src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>
</head>

<body style="background-color: white">
  <div id="container">
    <%= form_for @car, :url =>{:action => "search_results"} do |f| %>

    <div class="searchcontainer">
      <div style="padding: 20px;"
          <p id="containerheader">Quick Start</p>
          
          <label for="car_price" id= "car_price_value" style="border: 0; color: white; font-size: 35px; float: right;" ></label> <br> <br>
          <input type="hidden" id="car_price" value="" name="car[price]">
          <div id="sliderprice" style="height: 10px; width: 400px; float: right;"></div> <br>

          <label for="car_mpg" id= "car_mpg_value" style="border: 0; color: white; font-size: 35px; float: right;" ></label> <br><br>
          <input type="hidden" id="car_mpg" value="" name="car[mpg]">
          <div id="slidermpg" style="height: 10px; width: 400px; float: right;"></div> <br>
        
      </div>
    </div>

    <div class="welcomecontainer">
      <p id="mysitetitle" style="color: #9C4274;">E-FICIO</p> <br> <br> <br> <br>
      
      <p id="logo" style="font-size: 81px; margin-left: 72px; color: white; font-family:'Arial';">E-ficio</p>

    </div>

    <div class="resultscontainer">
      <p id="containerheader" style="margin-left: 18px;">Results</p>
      <div id="ajaxinfo">
      </div>
    </div>

    <div class="finetunecontainer">
          
          <p id="containerheader" style="margin-left: 20px;">Fine Tune</p>
          
          <div id="accordion" style="width: 270px; margin-left: 15px;">    
            <h3>Handling</h3>
            <div>
              <label for="car_handling" id= "car_handling_value" style="border: 0; color: #f6931f; font-weight: bold; font-size: 3em; text-align: right;" ></label> <br>
              <input type="hidden" id="car_handling" value="" name="car[handling]">
              <div id="sliderhandling"></div> <br>
            </div>

            <h3>Interior</h3>
            <div>
              <label for="car_interior" id= "car_interior_value" style="border: 0; color: #f6931f; font-weight: bold; font-size: 3em; text-align: right;" ></label> <br>
              <input type="hidden" id="car_interior" value="" name="car[interior]">
              <div id="sliderinterior"></div> <br>
            </div>

            <h3>Looks</h3>
            <div>
              <label for="car_looks" id= "car_looks_value" style="border: 0; color: #f6931f; font-weight: bold; font-size: 3em; text-align: right;" ></label> <br>
              <input type="hidden" id="car_looks" value="" name="car[looks]">
            <div id="sliderlooks"></div> <br>
            </div>
          </div> <br>
    </div>

    <div class="carinfocontainer">
      <p id="containerheader" style="margin-left: 20px;">Car info</p>
    </div>


 


      <%= f.submit "Find My Car", id: "ninja" %>
    <% end %> 

  </div>
</body>

