<footer class="footer">
  <small>
    <a href="http://eficio.herokuapps.com/cars/search">Eficio</a>
    by TJ Singh
  </small>
  <nav>
    <ul>
      <li>About</li>
      <li>Contact</li>
      <li>News</li>
    </ul>
  </nav>
</footer>